<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body class="bg-dark-m">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark2-m">
    <a class="navbar-brand isoct font-weight-bold " href="">Fanat</a>
    <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link isoct" href="">Home</a>
        </li>
    </ul>
    <button class="btn pb-0 btn-outline-primary" type="button"
            data-toggle="collapse" data-target="#cl-search" aria-expanded="false" aria-controls="cl-search">
        <i class="bi bi-search"></i>
    </button>
</nav>
<div class="container-fluid mb-5">
    <div class="row">
        <div class="col-lg-6 pl-5">
            <div class="mb-5 h-200">
                <h1 class="display-4 isoct font-weight-bold mt-4">
                    <span class="text-white">With Fanat you can</span>
                    <span class="typewrite font-sp text-primary underline" data-period="3000"
                          data-type='[ "create a new community.", "find friends.", "improve skills."]'>
                    </span>
                </h1>
            </div>
            <h5 class="isoct text-white mb-3">Fanat will help you find/create university or non-university clubs</h5>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
</div>

<footer class="container py-5">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">© 2020-2020</small>
        </div>
        <div class="col-6 col-md">
            <h5 class="isoct font-weight-bold text-white">Features</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="">Stuff for developers</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="isoct font-weight-bold text-white">Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted"
                       href="https://careersblog.enterprise.co.uk/why-you-should-join-clubs-and-societies-at-university/">
                    About clubs
                </a></li>
                <li><a class="text-muted" href="https://www.youtube.com/watch?v=5qap5aO4i9A">Music</a></li>
                <li><a class="text-muted" href="#"></a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="isoct font-weight-bold text-white">Resources</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://edu.gov.kg/ru/">Education</a></li>
                <li><a class="text-muted" href="https://store.steampowered.com/agecheck/app/782330/">Gaming</a></li>
                <li> <a class="text-muted" href="http://www.onlinewebfonts.com">Online web fonts</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5 class="isoct font-weight-bold text-white">About</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="{% url 'clubs:team' %}">Team</a></li>
                <li><a class="text-muted" href="{% url 'clubs:home' %}">Other projects</a></li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>